/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 25, 2024, 11:47:22 PM
    Author     : Duong Minh Quyen
*/

.table-container {
    position: relative;
    max-height: 300px;
    width: 715px;
    overflow-y: auto;
}

.unfixed-table {
    width: 100%;
    border-collapse: collapse;
}

thead th, tbody td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

thead th {
    background-color: #f1f1f1;
    position: sticky;
    top: 0;
}

/* Đặt chiều rộng hợp lý cho các cột */
th[colspan="2"], td[rowspan="3"] {
    width: 100px;
}

.product-column {
    width: 150px; /* Điều chỉnh chiều rộng của các cột sản phẩm */
}